fastapi
uvicorn
pydantic
python-dotenv
chromadb
google-genai
faster-whisper
yt-dlp
instaloader
Pillow
requests
langchain-text-splitters
beautifulsoup4
pymupdf
twscrape
firebase-admin
google-api-python-client
google-auth-oauthlib
googlemaps
